nav {
  background-color: aqua;
  border-bottom: 1px solid #ccc;
  border-top: 1px solid #ccc;
  height: 50px;
  display: flex;
  justify-content: flex-end;
  margin: 0;
  padding: 0;
  width: 100%;
  align-items: center;
}

