extends adminOnlyLayout

block adminContent
  h1= title
  form(action="", method="post")
    input(type="hidden", name="id")
    div 
      label(for="name") Name
      input(type="text", name="name", id="name")
    div
      label(for="phone") Phone
      input(type="number", name="phone", id="phone")
    div
      label(for="address") Address
      input(type="text", name="address", id="address")
    div
      label(for="email") Email
      input(type="email", name="email", id="email")
    div
      input(type="submit", value="Submit")