doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  nav 
    a(href="/") Home
    a(href="/patients") Patients
    a(href="/doctors") Doctors
    a(href="/insurances") Insurance
    a(href="/products") Products
    a(href="/visits") Visits
  body
    block content
