doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  nav 
    a(href="/") Home
    a(href="/patients") Patients
    a(href="/doctors") Doctors
    a(href="/insurances") Insurance
    a(href="/products") Products
    a(href="/visits") Visits
    if user
      if user.admin
        a(href="/users") Users
      p User: #{user.username}
      a(href="/logout") Sign Out
    else
      a(href="/signin") Sign In
  body
    if user
      block content
    else
      h1 Please Sign In
      a(href="/signin") Sign In
