doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  nav 
    a(href="/") Home
    a(href="/patients") Patients
    a(href="/doctors") Doctors
    a(href="/insurances") Insurance
    a(href="/products") Products
    a(href="/visits") Visits
    if user
      p User: #{user.username}
      a(href="/logout") Sign Out
    else
      a(href="/signin") Sign In

body
  h1 Sign Up
  form(action="", method="post")
    label(for="username") Username 
    input(type="text", name="username", id="username")
    label(for="password") Password
    input(type="password", name="password", id="password")
    label(for="password-confirm") Confirm Password
    input(type="password", name="password-confirm", id="password-confirm")
    input(type="submit", value="Sign Up")
  a(href="/signin") Already have an account?

  if errors
    ul
      for error in errors
        li!= error.msg